body {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.97) 0.66%, rgba(0, 0, 0, 0.9021) 33.85%, rgba(0, 0, 0, 0.8924) 67.19%, rgba(0, 0, 0, 0.97) 100%) no-repeat;
}

/* Inicio Nav */
nav {
    background: inherit;
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf);
}

nav a {
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    color: #D1D1D1 !important;
    margin-left: 20px;
}

#contenedorPerfil p {
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    color: #D1D1D1 !important;
    margin-left: 100px;
    margin-bottom: 0px;
    margin-top: 5px;
}

#contenedorPerfil a {
    margin-left: 100px;
    font-size: 15px !important;
}

#fotoPerfil {
    position: absolute;
    width: 70px;
    height: 70px;
}
/* Fin Nav */
/* Inicio Footer */

footer p {
    font-weight: normal;
    font-size: 18px;
    line-height: 31px;
    color: #FFFAFA;
}

footer img {
    width: 179px;
    height: 40px;
    float: right;
}
/* Fin Footer */
/* Inicio Carrusel */

.imgContainer:hover .overlay {
    display: block;
}

.imgContainer .overlay {
    position: absolute;
    background-color: rgba(255, 255, 255, .2);
    top: 8px;
    left: 16px;
    display: none;
}

.carousel-item p {
    word-wrap: break-word;
    max-width: 1100px;
    margin: auto;
}

.carousel-item img {
    margin: auto;
    display: block;
}