body {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.97) 0.66%, rgba(0, 0, 0, 0.9021) 33.85%, rgba(0, 0, 0, 0.8924) 67.19%, rgba(0, 0, 0, 0.97) 100%) no-repeat;
}

a:hover {
    text-decoration: none;
}

/* Inicio Nav */

.logo {
    position: relative;
    margin-right: auto;
}

#contenedorPerfil {
    order: 0;
}

@media only screen and (max-width: 992px) {
    #miCuenta p {
        text-decoration: none;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        color: white!important;
        margin-bottom: 0px;
    }
}

@media only screen and (min-width: 991px) {
    #miCuenta p {
        text-decoration: none;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        color: white !important;
        float: left;
        margin-bottom: 0px;
    }
}

nav {
    background: inherit;
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf);
}

nav a {
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    color: white !important;
    margin-left: 20px;
}

#miCuenta {
    margin-top: 5px;
    width: auto;
    height: auto;
}

#miCuenta a {
    font-size: 18px !important;
    padding: 0;
}

#fotoPerfil {
    position: relative;
    float: left;
    margin-right: 5px;
    width: 55px;
    height: 55px;
}

/* Fin Nav */

/* Inicio Footer */

@media only screen and (max-width: 900px) {
    #footerContainer p {
        display: inline-block;
        font-weight: normal;
        font-size: auto;
        color: white;
    }
}

footer {
    width: 100%;
}

#footerContainer p {
    display: inline-block;
    font-weight: normal;
    font-size: auto;
    color: white;
}

/* Fin Footer */

/* Inicio mensajes Home */

h1 {
    font-family: Roboto;
    font-style: normal;
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
    padding-left: 30px;
    font-size: 45px;
    margin-top: 1%;
    margin-bottom: 1%;
}

h2 {
    font-family: Roboto;
    font-style: normal;
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
    padding-left: 30px;
    font-size: 35px;
    margin-top: 1%;
    margin-bottom: 1%;
}

@media only screen and (max-width: 900px) {
    h1 {
        padding-left: 20px;
        font-size: 35px;
    }
    h2 {
        padding-left: 20px;
        font-size: 30px;
    }
}

@media only screen and (max-width: 600px) {
    h1 {
        padding-left: 10px;
        font-size: 25px;
    }
    h2 {
        padding-left: 20px;
        font-size: 25px;
    }
}

/* Fin mensajes Home */

.play, .info, .miLista {
    background-color: transparent;
    outline: none;
    border: 0;
}

.fa-play-circle, .fa-info-circle, .fa-plus-circle, .fa-check-circle {
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.play:focus, .info:focus, .miLista:focus {
    outline: none;
}

.botonera {
    position: absolute;
    width: 100%;
    height: auto;
    font-size: 55px;
    text-align: center;
    margin-top: 50%;
    margin-bottom: 50%;
}

.peliContainer{
    margin-bottom: 2%;
}

.container-fluid{
    padding-left: 30px;
    padding-right: 30px;
}

@media only screen and (max-width: 900px) {
    .botonera {
        font-size: 40px;
    }
    .container-fluid{
        padding-left: 20px;
        padding-right: 30px;
    }
}

/* Mobile */

@media only screen and (max-width: 600px) {
    .botonera {
        font-size: 25px;
        padding-right: 30px;
    }
    .container-fluid{
        padding-left: 10px;
        padding-right: 30px;
    }
}

.peliContainer{
    margin-bottom: 2%;
}

.container-fluid{
    padding-left: 30px;
}