.personaje{
  height: 330px;
  width: 322px;
  background-image:url(img/personaje.png);
  animation: correr 1s steps(8) infinite;
  background-repeat: no-repeat;
}
@keyframes correr {
  0%{background-position: 0px;}
  100%{background-position: -2576px;}
}

.personaje-saltar{
  height: 330px;
  width: 322px;
  background-image: url(img/personaje-salta.png);
  background-repeat: no-repeat;
  animation: correr 1s steps(8) infinite;
}
