.personaje{
  height: 120px;
  width: 106px;
  background-image:url("img/personaje.png");
  bottom: 0px;
  position: absolute;
  left: 20px;
  animation: correr 1s steps(8) reverse infinite;
}
@keyframes correr {
  0%{background-position: 0px;}
  100%{background-position: -864px;}
}
@keyframes saltar{
  0%{ bottom: 0px}
  50%{bottom: 150px}
  100%{bottom: 0px}
}
.fondo{
  height: 428px;
  width: 760px;
  background-image: url("img/fondo.jpg");
  position: relative;
  animation: fondo 12s linear infinite;
  background-size: cover;
  margin: 2%;
}
@keyframes fondo {
  0%{background-position: 0px;}
  100%{background-position: -760px;}
}

.enemigo{
  height: 120px;
  width: 97px;
  background-image: url("img/obstaculo.png");
  animation: obstaculo 1s steps(4) infinite;
  position: absolute;
  left: 760px;
  position: absolute;
  z-index: 1;
  top: 290px;
}

@keyframes obstaculo {
  0%{background-position: 0px;}
  100%{background-position: -388px;}
}
.explosion{
  width: 256px;
  height: 256px;
  transform: translate(-80px, -50px);
  background-image: url('img/explosion.png');
  animation: explosion 2s steps(52)infinite;
}
@keyframes explosion {
  0%{background-position: 0px;}
  100% {background-position: -14352px}
}
.container1{
  width: 110px;
  height: 438px;
  position: absolute;
  left: 785px;
  top: 0px;
  z-index: 2;
  background-color: inherit;
}
.pagJuego{
  background: rgb(61, 53, 53) none repeat scroll 0% 0%;
  position: absolute;
  width: 1260px;
  height: 480px;
  top: 13.5px;
  left: 31.5px;
  border: 1px solid rgb(78, 57, 57);
  border-radius: 20px;
  z-index: 0;
}
.puntos{
  width: 240px;
  height: 100px;
  left: 916px;
  top: 52px;
  position: absolute;
  font-size: small;
}
.btn{
  left: 920px;
  top: 170px;
  width: 210px;
  height: 50px;
  font-size: 30px;
  position: absolute;
  background-color: #3d337b;
  transition: background-color 0.5s, color 0.5s;
}

.puntuacion{
  width: 120px;
  height: 90px;
  left: 160px;
  top: 14px;
  position: absolute;
  font-size: 30px;
}
.controles{
  left: 930px;
  text-align: left;
  top: 280px;
  position: absolute;
  z-index: 1
}
.imgControl{
  width: 210px;
  height: 36px;
  border-radius: 10px;
}
.loser, .win{
width: 500px;
height: 270px;
position: absolute;
margin: 5%;
background-repeat: no-repeat;
left: 11%;
}
.loser{
background-image: url("img/loser.png");
display: none;
}
.win{
background-image: url("img/win.png");
display: none;
}
